html{
    
}
header {
    background-color: lightgray;
    height: 10em;
}

header img{
    float: left;
}

header h1{
    float: left;
    padding-left: .8em;
    font-size: 4.5em;
    font-style: bold;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    color: #C8102E;
    text-transform: uppercase;
    margin-bottom: 0;
}

body{

}
/*
body{
    background-color: #9d2235;
}
*/

p.centerbold{
    text-align: center;
    font-weight: bold;
    font-family: "Lyon Display Web", Times, "Times New Roman", serif;
    font-size: 32px;
}

p.content{
    text-align: center;
    font-family: "Lyon Display Web", Times, "Times New Roman", serif;
    font-size: 24px;
    margin-left: 15em;
    margin-right: 15em;
}

img.content{
    float: left;
    padding-top: 3em;
    padding-right: 3em;
    padding-left: 3em;
    height: 20em;
    width: auto;
}

h1.red {
    color:#9d2235;
    font-size: 250%;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-feature-settings: "liga", "kern";
    text-transform: uppercase;
    /*background-image: linear-gradient(0deg, #C8102E 0%, #C8102E 100%);
    background-position: 0 67%;
    background-repeat: repeat-x;
    background-size: 1em 0.1786em;*/
}

h1.white {
    color: white
}

h2.red {
    color:#9d2235;
    font-size: 250%;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-feature-settings: "liga", "kern";
    text-transform: uppercase;
    /*background-image: linear-gradient(0deg, #C8102E 0%, #C8102E 100%);
    background-position: 0 67%;
    background-repeat: repeat-x;
    background-size: 1em 0.1786em;*/
}

h4.red {
    color:#9d2235;
    font-size: 250%;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-feature-settings: "liga", "kern";
    text-transform: uppercase;
    text-align: center;
    /*background-image: linear-gradient(0deg, #C8102E 0%, #C8102E 100%);
    background-position: 0 67%;
    background-repeat: repeat-x;
    background-size: 1em 0.1786em;*/
}

button {
    color:#C8102E;
}

footer{
    position: relative;
    left: 0;
    bottom: 8;
    width: 100%;
    text-align: center;
}

aside {
    float: right;
    width: 20%;
    height: 50%;
    padding: 0 0 0 8em;
}
aside li {
    padding: .2em;
}

aside li a {
    display: block;
    width: 11em;
    font-family: Arial Black;
    color: black;
    text-align: center;
}

aside a{
    text-decoration: none;
    background-color: gray;
    font-size: 1.4em;
    color: black;
}

aside h2 {
    font-size: 175%;
    color: maroon;
    margin-bottom: .15em;
}

aside ul {
    font-size: 1.5em;
    line-height: 1.5;
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}

aside a:hover, aside a:focus {
    color: maroon;
}

#nav_menu {
    position: relative;
    clear: left;
}

#nav_menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    flex-basis: 100%;
}

#nav_menu ul li {
    float: left;
    display: flex;
    flex-basis: 33.3%;
}

#nav_menu li a {
    display: block;
    padding: .7em 0;
    text-align: center;
    font-size: 2.3em;
    width: 100%;
    font: Arial-Black
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    text-decoration: none;
    color: black;
    font-weight: bold;
    background-repeat: repeat-x;
    background-position: 0 61%;
    text-decoration: underline;
    text-transform: uppercase;
    text-decoration-color: #C8102E;
    font-family: Arial Black;
    font-feature-settings: "liga", "kern";
    text-decoration-thickness: .4em;
}

#nav_menu ul li a.current {
    color: black;
}

#nav_menu > ul::after {
    content: "";
    clear: both;
    display: block;
}

#mobile_menu {
    display: none;
}