html, body {
    margin: 0;
    padding: 0;
}
header {
    background-color: lightgray;
    height: 14em;
}

header img{
    float: left;
}

header h1{
    padding-left:1em;
    padding-top: 0.5em;
    float: left;
    font-size: 3.2em;
    font-style: bold;
    font-family: Arial Black, sans-serif;
    color: black;
    text-transform: uppercase;
    margin-bottom: 0;
    text-align: center;
}

p.content{
    text-align: center;
    font-family: "Lyon Display Web", Times, "Times New Roman", serif;
    font-size: 24px;
    margin-left: 15em;
    margin-right: 15em;
}

img.content{
    float: left;
    padding-top: 3em;
    padding-right: 3em;
    padding-left: 3em;
    height: 20em;
    width: auto;
}


footer{
    position:sticky;
    left: 0;
    width: 100%;
    height: 4.8em;
    
    text-align: center;
    background-color: #C8102E;
}

aside {
    padding-top: 1em;
    width: 20%;
    float:right;
}
section.nav-buttons {
    padding top: 10em;
}


aside a:hover, aside a:focus {
    color: maroon;
}
aside button {
    background-color: #5B6670;
    color: white;
    width:15em;
    text-align: center;
    font: Arial Black;
    font-size: 1.2em;
    padding: .5em 0 .5em 0;
    border-color: white;
    font-family: Arial Black;
}

#nav_menu {
    position: relative;
    clear: left;
    float: right;
}

#nav_menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    flex-basis: 100%;
}

#nav_menu ul li {
    float: right;
    display: flex;
    flex-basis: 33.3%;
    padding-right: 1em;
}

#nav_menu li a {
    display: block;
    white-space: nowrap;
    font-size: 1.5em;
    width: 100%;
    font: Arial-Black
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    text-decoration: none;
    color: black;
    font-weight: bold;
    background-repeat: repeat-x;
    background-position: 0 61%;
    text-decoration: underline;
    text-transform: uppercase;
    text-decoration-color: #C8102E;
    font-family: Arial Black;
    font-feature-settings: "liga", "kern";
    text-decoration-thickness: .3em;
}

#nav_menu ul li a.current {
    color: black;
}

#nav_menu > ul::after {
    content: "";
    clear: both;
    display: block;
}

#mobile_menu {
    display: none;
}
