html, body {
    margin: 0;
    padding: 0;
}
header {
    background-color: lightgray;
    height: 14em;
}

header img{
    float: left;
}

main {
    width: 100%;
}
header h1{
    padding-left:1em;
    padding-top: 0.5em;
    float: left;
    font-size: 3.2em;
    font-style: bold;
    font-family: Arial Black, sans-serif;
    color: black;
    text-transform: uppercase;
    margin-bottom: 0;
    text-align: center;
}

#cs-cy-button{
    width: 100%;
    display: flex;
    justify-content: center;
}



img.content{
    float: left;
    padding-top: 1.3em;
    padding-left: 1em;
    padding-right: 1.5em;
    height: 20em;
    width: 20%;
}


footer{
    position:fixed;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
    background:#6cf;
    
    text-align: center;
    background-color: #C8102E;
}

aside {
    padding-top: 1.3em;
    width: 20%;
    float:right;
}


aside a:hover, aside a:focus {
    color: maroon;
}
aside button {
    background-color: #5B6670;
    color: white;
    width:15em;
    text-align: center;
    font: Arial Black;
    font-size: 1.2em;
    padding: .5em 0 .5em 0;
    border-color: white;
    font-family: Arial Black;
    border-radius: .5em;
}

.accordion-content {
    padding-top: 1.3em;
}
.accordion {
  background-color: #A2AAAD;
  color: black;
  cursor: pointer;
  padding: .5em 0 .5em 0;
  width: 56%;
    height: 6%;
  text-align: center;
  border: none;
  outline: none;
  transition: 0.4s;
    font-family: Arial Black;
    border-radius: .5em;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: '\25BC'; /* Unicode character for "plus" sign (+) */
  font-size: 1.2em;
  color: black;
  float: right;
  margin-left: .5em;
    margin-right: .2em;
}

.active:after {
  content: "\25B2"; /* Unicode character for "minus" sign (-) */
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

#nav_menu {
    position: relative;
    clear: left;
    float: right;
}

#nav_menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    flex-basis: 100%;
}

#nav_menu ul li {
    float: right;
    display: flex;
    flex-basis: 33.3%;
    padding-right: 1em;
}

#nav_menu li a {
    display: block;
    white-space: nowrap;
    font-size: 1.5em;
    width: 100%;
    font: Arial-Black
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    text-decoration: none;
    color: black;
    font-weight: bold;
    background-repeat: repeat-x;
    background-position: 0 61%;
    text-decoration: underline;
    text-transform: uppercase;
    text-decoration-color: #C8102E;
    font-family: Arial Black;
    font-feature-settings: "liga", "kern";
}

#nav_menu ul li a.current {
    color: black;
}

#nav_menu > ul::after {
    content: "";
    clear: both;
    display: block;
}

#mobile_menu {
    display: none;
}

